body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h3{
    text-align: center;
}
p{
    margin-inline-start: 15px;
}
#TitleTop{
    background: white;
    padding: 5px;
}
#TitleTop a{
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#TitleUser h4{
    text-align: end;
    margin: 0px;
    padding: 10px;
    background-color: black;
    color: white;
}
#Menu{
    display: flex;
    flex-direction: row;
    background: black;
    margin: 1px;
    padding: 5px;
    justify-content:end;
}
#Menu a{
    text-decoration-color: black;
    text-decoration-color: wheat;
    font-style: italic;
    color: white;
    padding: 1px;
    margin-bottom: 5px;
    margin-inline: 15px;
    margin-left: 20px;
}
#listChambres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#listChambres .chambres{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 31%;
    border: 1px solid;
    border-bottom-right-radius: 10px;
}
#listChambres img{
    max-height: 160px;
    flex: 1;
}
.chambres{
    display: flex;
    -ms-flex-align: start;
    flex-direction: column;
    max-width: 30%;
    padding: 10px;
}
.chambres div a{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    
    right: -270px;
    padding: 10px;
    border: 5px black;
}
#listVoitures{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#listVoitures .voitures{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 31%;
    border: 1px solid;
    border-bottom-right-radius: 10px;
}
#listVoitures img{
    max-height: 160px;
    flex: 1;
}
.voitures{
    display: flex;
    -ms-flex-align: start;
    flex-direction: row;
    max-width: 30%;
    padding: 10px;
}
.voitures div{
    flex-wrap: wrap;
    flex-direction: row;
    padding: 40px;
    border: 5px black; 
}
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    
}
.form {
    position: relative;
    z-index: 1;
    background: transparent;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #6eb6de;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #4a77d4;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4a77d4;
    text-decoration: none;
}

.Register-Page {
    width: 1500px;
    padding: 8% 0 0;
    margin: auto;
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 10px 0;
    font-size: 15px;
}
.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 1px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}
.button:hover {
    background-color: violet; /* Cor de fundo verde mais escura ao passar o mouse */
}
.chambres {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    align-items: center;
}
form input{
    padding: 2px;
    margin: 10px;
}
.chambres span{
    margin: 5px;
  }
  #media_chambre{
    display: flex;
    flex-direction: row;
    max-width: 1130px;
    max-height: 300px;
    margin-right: 10px;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    position: relative;
    top: -650px;
    left: 450px;

}

#media_chambre .media{
    margin: 30px;
    border: 1px solid #ddd;
    border-bottom-right-radius: 10px;
}
#media_chambre img{
    max-height: 160px;
    flex: 1;
}
.media{
    max-width: 30%;
    padding: 10px;
}
.title_media h3{
    position: relative;
    top: -610px;
    left: 300px;
}
.title_media p{
    position: relative;
    top: -610px;
    left: 500px;
}

.msg p{
    position: relative;
    top: -40px;
    left: 550px;
}
.mssg p{
    position: relative;
    top: -40px;
    left: 600px;
}